name: Release new library version

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed
    branches:
      - main

jobs:
  publish:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    uses: ryse-rs/.workflows/.github/workflows/cd-lib.yml@main
    secrets: inherit
    permissions:
      contents: write
